.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  .menu li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }



/* For Contact Page */

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
  }
  
  p {
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
    